/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01/12/2014, 14:05:42
    Author     : Alexandre
*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.ng-scope {
    position: relative;
}

.load-override {
    position: absolute;
    background: #FFF;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: url('../img/loading_spinner.gif');
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,.8);
    background-position: center center;
}

.select2-result-single {
    margin: 0;
}